/* line 1, ../sass/_sample-usage.scss */
body {
  direction: rtl;
  text-align: right;
  background-image: url(../img/rtl/bg.png);
  background-position: right top;
  line-height: 22px;
}
/* line 14, ../sass/_sample-usage.scss */
body h1 {
  line-height: 25px;
}

/* line 20, ../sass/_sample-usage.scss */
#container {
  float: right;
  line-height: 30px;
  padding: 1px 0 3px 2px;
}

/* line 26, ../sass/_sample-usage.scss */
#sidebar {
  float: left;
  margin-right: 50px;
}

/* line 30, ../sass/_sample-usage.scss */
.next {
  content: "<";
}

/* line 33, ../sass/_sample-usage.scss */
.br {
  border-radius: 0 0 0 25px;
}
